:root{
    --primary:hsla(0, 0%, 26%, 0.253);
    --mainbtn: rgba(100, 100, 100, 0.5);
}


body{
    background-image: url(/../imagens/pexels-eva-bronzini-5949810.jpg);
    background-size: cover;    
    font-family: 'Nunito Sans', sans-serif;
    margin: 0%;
}

a{
    text-decoration: none;
}

.experience-list,
.mytools-list__item{
    list-style: none;
}

.fa-html5{
    color: orangered;
}

.fa-css3-alt{
    color: blue;
}

.fa-square-js{
    color: yellow;
}

.fa-figma{
    background:linear-gradient(rgb(255, 81, 0), purple, green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
}
.fa-figma:hover{
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


