.navbar{
    width: 100%; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-link{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}


.nav-link:hover, .nav-link.active{
    opacity: 1;
}


