
.footer-content{
    
}


.footer-content span{
    display: flex;
    align-items: center;
    margin-left: 35%;
    justify-content: center;
    text-align: center;
}

.wraprow{
    margin-left: 35%;
}

.footer-content a, span{
    color: rgb(0, 0, 0);
}


@media screen and (max-width:500px) {
    .footer-content span{
        margin-left: 0%;
    }

    .wraprow{
        margin-left: 0%;
    }
}