

.main-content{
    width: 65%;
    margin-left: 35%;
    margin-bottom: 20rem;
    margin-top: 5rem;
}


.experience-btn,
.mytools-btn,
.aboutMe-btn,
.MyCurriculum-btn{
    font-size: 1.2rem;
    background-color: var(--mainbtn);
    color: rgb(233, 233, 233);
    display: block;
    text-align: center;
    width: 25rem;
    cursor: pointer;
    margin-top: .5rem;
    margin-left: 30%;
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
}

.mytools-btn,
.aboutMe-btn,
.MyCurriculum-btn{
 
    margin-bottom: .5rem;
}

.experience-btn:hover,
.mytools-btn:hover,
.aboutMe-btn:hover,
.MyCurriculum-btn:hover{
    background-color: var(--primary);
    transition: .3s;
}



.experience-list,
.mytools-list, 
.aboutMe-content,
.MyCurriculum-content{
    padding: 2rem;
    display: none; 
    transition: .3s;
    animation: slideMainContent 1s;
    background-color: var(--primary);
    color: white;
    border-radius: .5rem;
}



.experienceImg{
    cursor: pointer;
    height: 30vh;
    width: 25vw;
    border-radius: .5rem;
}



.mytools-list__item{
    font-size: 3rem;
    transition: .3s;
}

.mytools-list__item:hover{
    color: rgb(0, 0, 0);
}


.logoImg img{
    height: 3rem;
    width: 3rem;
}

.popup-wrapper{
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}



.firstExperience-link{
    font-family: 'Corinthia', cursive;
    font-size: 3rem;
    color: var(--primary);
}

.MyCurriculum-content{
    text-align: center;
}
 
.MyCurriculum-content a{
    color: rgb(255, 255, 255);
    font-size: 3rem; 
}



@media screen and (max-width:900px) {
    .experience-btn,
    .mytools-btn,
    .aboutMe-btn,
    .MyCurriculum-btn{
        margin-left: 15%;
        width: 50vw;
    }

    .experienceImg{
        width: 30vw;
    }
    
}



@media screen and (max-width:500px) {
    .main-content{
        width: 100%;
        margin-left: 0%;
    }

    .experience-btn,
    .mytools-btn,
    .aboutMe-btn,
    .MyCurriculum-btn{
        margin: auto;
        margin-top: .5rem;
        width: 70vw;
    }

    .experience-list{
        margin: auto;
    }

    .experienceImg{
        cursor: pointer;
        height: 15vh;
        width: 35vw;
        margin: auto;
    }

}