

.main-content{
    width: 65%;
    margin-left: 35%;
}


.experience-section h2{
    margin-left: 2rem;
}

 

.experienceTitle{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    width: 20rem;
    cursor: pointer;
}


.experience-list{
    padding: 2rem;
    display: none;
    transition: .3s;
    animation: slideMainContent 1s;
}



.experienceImg{
    cursor: pointer;
    height: 25vh;
    width: 20vw;
    border-radius: 1rem;
}
 
.mytools h3{
    margin-left: 2rem;
}

.mytools-list__item{
    font-size: 3rem;
    transition: .3s;
}

.mytools-list__item:hover{
    color: rgb(0, 0, 0);
}


.logoImg img{
    height: 3rem;
    width: 3rem;
}

.popup-wrapper{
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}



.firstExperience-link{
    font-family: 'Corinthia', cursive;
    font-size: 3rem;
    color: var(--primary);
}


@media screen and (max-width:500px) {
    .main-content{
        width: 100%;
        margin-left: 0%;
    }

    .experience-list{
        margin: auto;
    }

    .experienceImg{
        cursor: pointer;
        height: 20vh;
        width: 35vw;
        margin: auto;
    }

}