*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: var(--back);
    font-family: sans-serif;
}

.section:nth-child(odd){
    background: rgb(117, 117, 117);
}

:root {
    --back: #191919;
}



 

 




