*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: var(--back);
    font-family: sans-serif;
    background:  #97977f;
}

 
.section:nth-child(odd){
    background: #2e2e29a1;
}      

/* .section:nth-child(odd){
    background: rgba(46, 46, 46, 0.397);
} */

.heading{
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
    font-weight:300;
    padding-top: 4rem;
}

:root {
    --back: #191919;
}







 

 




