*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 148px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: var(--back);
    font-family: sans-serif;
}


:root {
    --back: #191919;
    
}
 


