
.main-content{
    padding-top: 45px;
    width: 65%;
    margin-left: 35%;
    margin-bottom: 20rem;
  
   
}



.experience-btn,
.mytools-btn,
.aboutMe-btn,
.MyCurriculum-btn{
    font-size: .8rem;
    color: #787878;
    display: block;
    text-align: center;
    width: 15rem;
    cursor: pointer;
    margin-top: .5rem;
    margin-left: 30%;
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
}


 

.mytools-btn,
.aboutMe-btn,
.MyCurriculum-btn{
    margin-bottom: .5rem;
}


.experience-base:hover,
.experience-btn:hover,
.mytools-btn:hover,
.aboutMe-btn:hover,
.MyCurriculum-btn:hover{
    background-color: var(--primary);
    transition: .3s;
}



.experience-list,
.mytools-list, 
.aboutMe-content,
.MyCurriculum-content{
    padding: 2rem;
    display: none; 
    transition: .3s;
    animation: slideMainContent 1s;
    background-color: var(--primary);
    color: white;
    border-radius: .5rem;
}



.experienceImg{
    cursor: pointer;
    height: 30vh;
    width: 25vw;
    border-radius: .5rem;
    border: 3px solid black;
}



.mytools-list__item{
    font-size: 3rem;
    transition: .3s;
}

.mytools-list__item:hover{
    color: rgb(0, 0, 0);
}


.logoImg img{
    height: 3rem;
    width: 3rem;
}

 

.MyCurriculum-content{
    text-align: center;
}
 
.MyCurriculum-content a{
    color: rgb(255, 255, 255);
    font-size: 3rem; 
}


/* 

@media screen and (max-width:900px) {
    .experience-btn,
    .mytools-btn,
    .aboutMe-btn,
    .MyCurriculum-btn{
        margin-left: 15%;
        width: 50vw;
    }

    .experienceImg{
        width: 30vw;
    }
    
}



@media screen and (max-width:500px) {
    .main-content{
        width: 100%;
        margin-left: 0%;
    }

    .experience-btn,
    .mytools-btn,
    .aboutMe-btn,
    .MyCurriculum-btn{
        margin: auto;
        margin-top: .5rem;
        width: 70vw;
    }

    .experience-list{
        margin: auto;
    }

    .experienceImg{
        cursor: pointer;
        height: 15vh;
        width: 35vw;
        margin: auto;
    }

} */