
.skills{
    min-width:80vw;
    min-height: 100vh;
}


.skill-container{
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    margin-top: 5rem;
}


.skill-card{
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 5px;       
}



.skill-img{
    display: block;
    margin: auto;
    height: 200px;

}

.skill-name{
    color: #fff;
    font-size: 30px;
    font-weight:300;
    text-transform: capitalize;
    margin: 30px  20px;
}

.skill-info{
    color: #fff;
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
    hyphens: auto 
}


.skill-level{
    position: absolute;
    top: 15%;
    right: 2%;
    left: 0.5;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
    border-radius: 50%;
    border: 10px solid black;
}

.skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #ff4f4f28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level{
    background: #ff4f4f28;
    border-color: #ffed4f;
    color: #ffed4f;
}
.skill-card:nth-child(4) .skill-level{
    background: #ff4f4f28;
    border-color: hsl(293, 100%, 65%);
    color: hsl(293, 100%, 65%);
}
.skill-card:nth-child(5) .skill-level{
    background: #ff4f4f28;
    border-color: hsl(167, 100%, 65%);
    color: hsl(167, 100%, 65%);
}




@media screen and (max-width: 900px){
    .skill-container{
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width: 400px){

    .skills{
        min-width:90vw;
    }

    .skill-container{
        width: 90vw;
 
    }
}
